.about {
    height: 100vh;
    width: 100%;
    background-color: #111;
    display: flex;
    justify-content: center;
    border-top: 1px solid #3a3a3a;
    position: relative;
}

.about > img {
    height: 100px;
    border-radius: 50%;
    position: absolute;
    left: 30px;
    top: 80px;
}

.about h2 {
    color: #fff;
}
.about p {
    font-size: 1.2rem;
    color: #b8b7b7;
    width: 70vw;
}

.about__info {
    width: 70vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    
}

.about__info > a {
    padding: 10px 25px;
    background-color: red;
    text-decoration: none;
    color: #fff;
    border-radius: 30px;
}

/* 
.about_sec{
    background-color: black;
    height: 100vh;
    width: 100%;
    margin-top: 5%;
    padding: 0;
    display: flex;
    justify-content: center;

}
.about_sec img{
    height: 50px;
    padding: 20px;
    border-radius: 100px;
}

.about_words{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 5%;
    color: black;
    background-color: black;
    opacity: 0.6;
    align-items: center;
    justify-content: center;
    margin-left: 150px;
}

.about_words h2{
    margin: 35px;
    text-align: center;
    font-family: sans-serif;
    line-height: 14px;
    font-size: 26px;
    color: #fff;
}

.about_words p{
    margin: 20px;
    font-family: sans-serif;
    line-height: 18px;
    color: #fff;
    font-size: 16px;
}

.about_words button{
    width: 150px;
    border-radius: 30px;
    height: 35px;
    background-color: red;
    color: #fff;
    border: none;
    margin-left: 250px;
    
} */