.music {
    background-color: #111;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    padding-top: 2rem;
    padding-bottom: 10rem;
}
.music a {
    margin-top: 3rem;
    text-decoration: none;
    color: #fff;
    background-color: red;
    padding: 14px 50px;
    border-radius: 10px;
}
.music > h2 {
    margin: 3rem;
}
.music__container {
    display: flex;
    width: 90vw;
    flex-wrap: wrap;
    justify-content: center;
}