.navbar {
  height: 80px;
  background-color: black;
  

  display: flex;
  align-items: center;
}

.nav-left {
  display: flex;
  height: 100%;
  align-items: center;
  color: lightgray;
  /* justify-content: space-evenly; */
  flex: 0.7;
}
.nav-left > ul {
  display: flex;
  color: #fff;
  margin-left: auto;
  margin-right: 16%;
}

.nav-left li {
  padding: 10px;
  list-style: none;
}

.nav-left a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}
.nav-left a:hover {
  color: red;
}
.nav-left > img {
  height: 50px;
  border-radius: 50px;
  justify-self: flex-start !important;
  cursor: pointer;
  margin-left: 70px;
}
.nav-right {
  flex: 0.2;
  display: flex;
  gap: 1rem;
  justify-content: flex-end;
  margin-right: 30px;
}
.nav-right > .MuiSvgIcon-root {
  color: #fff;
  cursor: pointer;
}

.MuiSvgIcon-root:hover {
  color: #aaa;
}
