

.tracklist__container {
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 2rem;
  flex-wrap: wrap;
  background-color: #111111;
}

.tracklist {
  display: flex;
  padding-top: 6rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #111;
  color: aliceblue;
}
.videos {
  background-color: #111;
}
.video__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #111;
    color: #fff;
    margin: 0;
    padding-top: 4rem;
    position: relative;
    border-top: 1px solid #3a3a3a;
    height: 100vh;
}
.video__container a {
  text-decoration: none;
  position: absolute;
  color: #eee;
  bottom: 8rem;
  background-color: red;
  padding: 10px 30px;
  border-radius: 30px;
}

.video__container a > span {
  transition: all ease-in-out .2s;
}
.video__container a:hover > span {
  margin-left: 10px;
  transform: scale(1.59);

}
.videos {
  display: flex;
  align-items: center;
  height: 100vh;
  justify-content: center;
  gap: 4rem;
  background-color: #111;
  width: 100%;
}